extends layout

block content
  h1(id="topic") Add Technology Details
  
  <div>
  <span class="label1"> Technology Name</span> 
  <input type="text" name="tech_name" style="width: 250px;height: 21px;margin-left: 50px;"/>
  </div>

  <div>
  <span class="label1"> Technology Details</span>
  <input type="text" name="tech_details" style="width: 500px;height: 100px;margin-left: 50px;"/>
  </div>

  <div style="margin-top: 100px;">
  <button type="button" id="submit_btn">Submit</button>
  <button type="reset" id="reset_btn">Reset</button>
  </div>
  
